<div [ngClass]="{ dark: isDarkEnabled }">
  <nav class="bg-gray-800 dark:bg-gray-900">
    <div class="flex items-center justify-between h-16 p-2 pl-24">
      <div class="flex-shrink-0">
        <a routerLink="/" class="text-white font-bold uppercase text-lg">{{
          title
        }}</a>
      </div>
      <ng-container *ngIf="showSearchBar">
        <app-searchbar></app-searchbar>
      </ng-container>
      <button
        class="text-gray-300 hover:bg-gray-700 p-2 rounded-md text-sm font-medium"
        (click)="toggleMode()"
      >
        <span class="material-icons">
          {{ isDarkEnabled ? "light_mode" : "dark_mode" }}
        </span>
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<!-- <table class="bg-gray-100 w-full border rounded">
  <thead>
    <tr>
      <th class="bg-blue-500 text-white py-4 px-8">Plan</th>
      <th class="bg-blue-500 text-white py-4 px-8">Price</th>
      <th class="bg-blue-500 text-white py-4 px-8">Features</th>
      <th class="bg-blue-500 text-white py-4 px-8">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="py-4 px-8">Basic</td>
      <td class="py-4 px-8">$9.99</td>
      <td class="py-4 px-8">Lorem ipsum dolor sit amet</td>
      <td class="py-4 px-8">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-white hover:text-blue-500 transition-colors duration-300"
        >
          Choose
        </button>
      </td>
    </tr>
    <tr>
      <td class="py-4 px-8">Pro</td>
      <td class="py-4 px-8">$19.99</td>
      <td class="py-4 px-8">Lorem ipsum dolor sit amet</td>
      <td class="py-4 px-8">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-white hover:text-blue-500 transition-colors duration-300"
        >
          Choose
        </button>
      </td>
    </tr>
    <tr>
      <td class="py-4 px-8">Premium</td>
      <td class="py-4 px-8">$29.99</td>
      <td class="py-4 px-8">Lorem ipsum dolor sit amet</td>
      <td class="py-4 px-8">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-white hover:text-blue-500 transition-colors duration-300"
        >
          Choose
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
